 /*Demo styles*/
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-box-pack: center;*/
    /*-ms-flex-pack: center;*/
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
}
.swiper-button-next{
    position: absolute;
    top: auto;
    bottom: 0;
    left: 46%;
    transform: rotate(270deg);
    animation: run 1s linear infinite;
    background: url("../img/jiezhi.png");
    background-size: 100% 100%;
}
@keyframes run {
    0%{
        bottom:0;
        opacity: 0;
    }
    100%{
        bottom:5%;
        opacity: 1;
    }
}
/*音乐开始*/
 #music{
     width: 60px;
     height: 60px;
     /*border: solid 1px black;*/
     /*background: black;*/
     right: 10px;
     top: 10px;
     position: fixed;
     z-index: 9;
 }
 #music img.music_g{
     position: relative;
 }
 #music img.music_p{
     top: 8px;
     left: 8px;
     position: absolute;
     animation: xuanzhuan 2s linear infinite;
 }
 @keyframes xuanzhuan {
     100%{
         transform:rotate(360deg);
     }
 }
 /*音乐结束*/
 
 .swiper-slide.one{
     background: url("../img/onebg.jpg");
     background-size: 100% 100%;
 }
 .swiper-slide .top{
     width: 70%;
     height: 50%;
     border: 10px solid white;
     overflow: hidden;
     margin: 0 auto;
     margin-top:10%;
 }
 .swiper-slide .top img{
     width: 100%;
 }
 .swiper-slide .bottom .ring{
     width: 35%;
     left: 5%;
     top: 0;
     position: absolute;
 }
 .swiper-slide .bottom .marry{
     width: 100%;
     left: 0;
     top: 15%;
     position: absolute;
 }
 .swiper-slide .bottom{
     width: 70%;
     height: 30%;
     margin: 0 auto;
     margin-top: 5%;
     position: relative;
 }
 .swiper-slide .bottom p{
     color: #f3f2f3;
     font-weight: 700;
     position: absolute;
     bottom: 0;
     margin-bottom: 0;
     transform: translateX(104%);
 }
 .swiper-slide .bottom .time{
     width: 50%;
     position: absolute;
     bottom: 0px;
     left: 50%;
     transform: translateX(-50%);
 }

/*第一屏结束*/

/*第二屏开始*/
 .swiper-slide.two{
     background: url("../img/twobg.jpg");
     background-size: 100% 100%;
     position: relative;
 }
 .swiper-slide.two img{
     width: 100%;
 }
 .swiper-slide.two .top{
     width: 45%;
     height: 25%;
     border: 5px solid white;
     position: absolute;
     top: 3%;
     left: 10%;
     overflow: hidden;
 }
 .swiper-slide.two .center{
     width: 65%;
     height: 30%;
     border: 5px solid white;
     position: absolute;
     left: 50%;
     bottom: 50%;
     overflow: hidden;
     z-index: 9;
     transform: translate(-50%,50%);
 }
 .swiper-slide.two .bottom{
     width: 45%;
     height: 25%;
     border: 5px solid white;
     position: absolute;
     bottom: 10%;
     right: 10%;
     overflow: hidden;
 }





















